* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

ol,
ul,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
em,
strong,
b,
u,
i,
p {
  margin: 0;
  padding: 0;
  color: $colorBasic;
  font-family: "Noto Sans KR", sans-serif;
  font-size: $f-sizeBasic;
  font-style: normal;
  font-weight: 400;
  word-break: keep-all;
  text-decoration: none;
  list-style: none;
  letter-spacing: -0.5px;
}

a {
  transition: 0.3s;
  &:hover {
    color: white;
  }
}
table,
thead,
tbody {
  width: 100%;
}
table {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

form,
input,
select,
option,
button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: $f-sizeBasic;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-shadow: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

button {
  cursor: pointer;
  overflow: visible;
  background: transparent;
}

img {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

video {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}
