$f-sizeXSmall: 1.2rem;
$f-sizeSmall: 1.4rem;
$f-sizeBasic: 1.6rem;
$f-sizeMiddle: 1.8rem;
$f-sizeLarge: 2rem;

$f-sizeSubS: 2.2rem;
$f-sizeSubT: 2.4rem;
$f-sizeMenuS: 2.6rem;
$f-sizeMenu: 2.8rem;
$f-sizeTitle: 4rem;

$colorBasic: #333333;
$colorLight: #676767;
$colorPrimary: #3397f5;

$colorPoint: #106abe;
$colorHover: #01366a;

$colorBorder: #dfdfdf;

$colorBtn: #3a3a3a;
$colorBtnHover: #5b5b5b;
